:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ff9a8b, #ffd38b, #a3fd9e, #80c1ff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  display: flex;
  justify-content: center;
  padding: 5%;
}

h1 {
  font-family: Impact;
  font-size: 40px;
  padding-top: 1rem;
  letter-spacing: 0px;
  word-spacing: nullpx;
  color: #e72323;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

#question {
  color: dark;
  font-size: 1.1rem;
}

#question-container {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

#category {
  font-size: 0.8rem;
  white-space: normal;
}

#questionNumber {
  font-size: 0.7rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#choices-container {
  overflow-y: auto;
}

.boton-choices {
  font-size: 0.9rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #e1cfcf;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#score-container h6 {
  font-family: "Pacifico", cursive;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #e60000;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.ocultar {
  display: none;
}

.iphone-x {
  position: relative;
  z-index: 1;
  height: 694px;
  width: 342px;
}
.iphone-x *,
.iphone-x *::before,
.iphone-x *::after {
  box-sizing: border-box;
  display: block;
}
.iphone-x .side {
  background: #1c1c1c;
  border-radius: 54px;
  box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9,
    0px -1px 13px 9px rgba(255, 255, 255, 0.8) inset;
  height: 694px;
  padding: 15px 22px;
  width: 342px;
  z-index: 1;
}
.iphone-x .screen {
  background: #000;
  background-position: center center;
  background-size: cover;
  border-radius: 33px;
  position: relative;
  height: 652px;
  width: 300px;
  margin-left: -1px;
  margin-top: 6px;
  z-index: 198;
  overflow: hidden;
}
.iphone-x .line::after,
.iphone-x .line::before {
  content: "";
  position: absolute;
  border: solid rgba(68, 68, 68, 0.25);
  border-width: 0 6px;
  height: 5px;
  left: 0;
  width: 100%;
  z-index: 9;
}
.iphone-x .line::after {
  top: 68px;
}
.iphone-x .line::before {
  bottom: 68px;
}
.iphone-x .header {
  background: #1c1c1c;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 24px;
  left: 50%;
  margin-left: -82px;
  position: absolute;
  top: 15px;
  width: 164px;
  z-index: 199;
}

#dad-conteinter {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: #fbf6f6;
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.iphone-x .sensor-1::after,
.iphone-x .sensor-1::before {
  content: "";
  position: absolute;
}
.iphone-x .sensor-1::after {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 1%;
  margin-left: 10px;
  top: 3px;
}
.iphone-x .sensor-1::before {
  background: #222;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 10%;
  margin-left: 20px;
  top: 3px;
}
.iphone-x .sensor-2::after,
.iphone-x .sensor-2::before {
  content: "";
  position: absolute;
}
.iphone-x .sensor-2::before {
  background: #333;
  border-radius: 2.5px;
  height: 5px;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  top: 7px;
}
.iphone-x .sensor-3::after,
.iphone-x .sensor-3::before {
  content: "";
  position: absolute;
}
.iphone-x .sensor-3::before {
  background: #444;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  left: 50%;
  margin-left: 35px;
  top: 3px;
  box-shadow: 0px 0px 5px 2px navy inset;
}
.iphone-x .sensor-3::after {
  background: #222;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  left: 65%;
  margin-left: 33px;
}
.iphone-x .volume-button {
  background: #c8cacb;
  height: 26px;
  left: -2px;
  position: absolute;
  top: 92px;
  width: 3px;
}
.iphone-x .volume-button::after,
.iphone-x .volume-button::before {
  content: "";
  position: absolute;
  background: #c8cacb;
  height: 50px;
  left: 0;
  width: 3px;
}
.iphone-x .volume-button::after {
  top: 48px;
}
.iphone-x .volume-button::before {
  top: 112px;
}
.iphone-x .power-button {
  background: #c8cacb;
  height: 80px;
  right: -2px;
  position: absolute;
  top: 160px;
  width: 3px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn-custom:disabled {
  opacity: 1;
}
